.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
label {
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: .5px solid tomato;
    margin: 3px 0;
}
.desc{
    font-size: 14px;
}
.star {
    color: gold;
}
.username{
    font-size: 14px;
}
.date{
    font-size: 12px;
}
form {
    width: 250px;
    height: 250%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input,textarea {
    border: none;
    border-bottom: 1px solid grey;
}
input::placeholder,textarea::placeholder{
    font-size: 12px;
    color: rgb(172,169,169);
}

.submitButton{
    border:none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}
.button{
    border:none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.Logout{
    background-color: tomato;  
}
.Login{
    background-color: teal;    
    margin-right: 10px;
}
.Register{
    background-color: slateblue;
}
.buttons,.Logout{
    position: absolute;
    top:10px;
    right: 10px;
}